

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: calc(300px - 10px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #c75cd3;
  border-radius: 5px;
}

button {
  width: 70px;
  height: 40px;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #e0e0e0;
}

button#equals:hover {
  background-color: #8bc34a; /* Change to your desired color */
  color: white;
}
